[submodule "GLIMPSE"]
	path = GLIMPSE
	url = https://github.com/odelaneau/GLIMPSE
[submodule "htslib"]
	path = htslib
	url = https://github.com/samtools/htslib
[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost
